#contentBackground{
	background: url(../../images/contentGrad-Left.jpg) no-repeat;
}

#contentBackgroundX{
	background: url(../../images/contentGrad-Left-x.jpg) repeat-y;
}

#contentContainer{
	width: 670px;
	float: right;
}

h2#sideTitle{
	text-shadow: #696969 0px 1px 1px;
}

#sidebarContainer{
	float: left;
	padding: 50px 35px 20px 20px;
}

#blog-categories a, #blog-archives a, .blog-tag-cloud li a, #blog-rss-feeds a{
	color: #bbb;
}